.box-detail {
  height: 200px;

  .detail-film {
    background-color: white;
    box-shadow: 0 0 5px 1px red;
    border: 1px solid gray;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
      transition: 0.5s;
    }
  }
}
