<div class="home d-flex flex-column">
  <div
    class="header-home d-flex align-items-center justify-content-center"
    style="
      width: 100%;
      background-color: aliceblue;
      color: red;
      font-size: 28px;
      height: 70px;
    "
  >
    Top 5 movies !
  </div>
  <div class="body-home d-flex col">
    <app-menu-type-film class="col-2"></app-menu-type-film>
    <div class="container-detail d-flex col-10">
      <app-detail-movie class="col" [movies]="movies"></app-detail-movie>
    </div>
  </div>
</div>
