.container-home {
  width: 100%;
  min-height: calc(100vh - 56px);
  .container-menu {
    border-right: 1px solid blue;
    border-top: 1px solid blue;
    width: 150px;
    p-button {
      margin: 5px 0;
    }
  }
}
